<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="mongodb://localhost:27017" name="MongoDb"/>
  </connectionStrings>
  <appSettings>
    <add key="RestaurantsCollectionName" value="restaurants"/>
    <add key="ZipCodesCollectionName" value="zipcodes"/>
    <add key="PeopleCollectionName" value="people"/>
    <add key="DemoDatabaseName" value="model" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>